body {
    background-color: powderblue;
  }
h1 {
    text-align: center;
    color: blue;
  }
th {
	font-size: 35px;
	padding-inline: 20px;
}
td {
	font-size: 30px;
	padding-inline: 10px;
	text-align: center;
	vertical-align: top;
}
p {
    text-align: left;
    color: blue;
  }
.itembutton {
  background: none;
  font-size: 25px;
  border: none;
  padding: 0px;
  font-family: arial, sans-serif;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}
